.preview {
  background-color: #3f4e4f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 20px;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.courseTitle {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.videoContainer {
  position: relative;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: none;
}

.buttonContainer {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.goBackButton,
.startQuizButton {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.goBackButton {
  background-color: #2c3639;
  color: white;
}

.goBackButton:hover {
  background-color: #5a6268;
}

.startQuizButton {
  background-color: #a27b5c;
  color: white;
}

.startQuizButton:hover {
  background-color: #7c5e45;
}

.loading,
.error {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
}

.error {
  color: #dc3545;
}
